html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    //-webkit-overflow-scrolling: touch;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
h1 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
