
{#% extends "layout.njk" %#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Horários Tejo</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">

    <!-- icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-180x180.png"> <!--trocar estes-->
	<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-180x180.png"> <!--trocar estes-->
	<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="icons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="icons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">


    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57580494-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>


    {% block content %}

    <div class="wrapper">
        <div class="page home-page active">
            <header class="app-bar">
                <h1 class="app-bar__heading">Horários Tejo</h1>
            </header>
            <section class="main-content">
                <div class="content-wrapper">
                    <a role="button" tabindex="0" class="card js-schedule-card" id="outbound-trip" data-way="outbound" data-destination="barreiro">
                        <span class="card__sub-heading">De - Para</span>
                        <span class="card__heading">Barreiro - Terreiro do Paço</span>

                        <div class="next-boat">
                            <span class="next-boat__label">A próxima partida é às </span>
                            <span id="next-outbound-departure">- -:- -</span>
                        </div>
                    </a>

                    <a role="button" tabindex="0" class="card js-schedule-card" id="return-trip" data-way="return" data-destination="terreiro">
                        <span class="card__sub-heading">De - Para</span>
                        <span class="card__heading">Terreiro do Paço - Barreiro</span>

                        <div class="next-boat">
                            <span class="next-boat__label">A próxima partida é às </span>
                            <span id="next-return-departure"></span>
                        </div>
                    </a>
                </div>
            </section>
        </div>

        <!-- OUTBOUND -->
        <div class="page schedule-page" id="outbound-schedule">
            <header class="app-bar">
                <a role="button" class="js-back app-bar__action">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#arrow-back"/>
                    </svg>
                </a>
                <h1 class="app-bar__heading">
                    <!--<span class="smaller">Barreiro</span>
                    <span class="bigger">Terreiro do Paço</span>-->
                    Barreiro - Terreiro do Paço
                </h1>
                <!--<a role="button" class="js-back app-bar__action is-aligned-right">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#more-vertical"/>
                    </svg>
                </a>-->
            </header>
            <nav>
                <ul class="tabs">
                    <li tabindex="0" class="tab active" data-schedule="weekday-outbound">
                        <span class="tab-label">Dias úteis</span>
                    </li>
                    <li tabindex="0" class="tab" data-schedule="saturday-outbound">
                        <span class="tab-label">Sábados</span>
                    </li>
                    <li tabindex="0" class="tab" data-schedule="sunday-outbound">
                        <span class="tab-label">Domingos<br>e Feriados</span>
                    </li>
                </ul>
            </nav>
            <section class="main-content">
                <article class="card schedule-card">
                    <div class="content-wrapper">
                        <ul id="weekday-outbound-schedule" class="schedule active">
                             <!--
                                schedule = nome à escolha
                                weekdays = nome do array
                                hour, minute = nome da chave
                            -->
                            {% for schedule in barreiro_terreiro_weekdays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>

                        <ul id="saturday-outbound-schedule" class="schedule">
                            {% for schedule in barreiro_terreiro_saturdays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>

                        <ul id="sunday-outbound-schedule" class="schedule">
                            {% for schedule in barreiro_terreiro_sundays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </section>
        </div>

        <!-- RETURN -->
        <div class="page schedule-page" id="return-schedule">
            <header class="app-bar">
                <a role="button" class="js-back app-bar__action">
                    <svg class="icon">
                        <use xlink:href="sprite.svg#arrow-back"/>
                    </svg>
                </a>
                <h1 class="app-bar__heading">
                    <!--<span class="smaller">Terreiro do Paço</span>
                    <span class="bigger">Barreiro</span>-->
                    Terreiro do Paço - Barreiro
                </h1>
            </header>
            <nav>
                <ul class="tabs">
                    <li tabindex="0" class="tab active" data-schedule="weekday-return">
                        <span class="tab-label">Dias úteis</span>
                    </li>
                    <li tabindex="0" class="tab" data-schedule="saturday-return">
                        <span class="tab-label">Sábados</span>
                    </li>
                    <li tabindex="0" class="tab" data-schedule="sunday-return">
                        <span class="tab-label">Domingos<br>e Feriados</span>
                    </li>
                </ul>
            </nav>
            <section class="main-content">
                <article class="card schedule-card">
                    <div class="content-wrapper">
                        <ul id="weekday-return-schedule" class="schedule active">
                             <!--
                                schedule = nome à escolha
                                weekdays = nome do array
                                hour, minute = nome da chave
                            -->
                            {% for schedule in terreiro_barreiro_weekdays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>

                        <ul id="saturday-return-schedule" class="schedule">
                            {% for schedule in terreiro_barreiro_saturdays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>

                        <ul id="sunday-return-schedule" class="schedule">
                            {% for schedule in terreiro_barreiro_sundays %}
                            <li class="schedule__item" data-hour="{{schedule.hour}}" data-minute="{{schedule.minute}}">
                                <span class="schedule__value">{{schedule.hour}}:{{schedule.minute}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </section>
        </div>
    </div>

    {% endblock %}


    <script src="js/vendor/jquery-2.2.1.min.js"></script>
    <script src="js/vendor/jquery.mobile.custom.min.js"></script> <!-- for swipe -->

    <script src="js/time.js"></script>
    <script src="js/interface-controller.js"></script>
    <script src="js/schedule.js"></script>
    <script src="js/service-workers.js"></script>
</body>
</html>
