.label {
    color: $grey;
    font-size: 1.4rem;
    font-weight: 300;
}
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


.wrapper,
.page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.wrapper {
    left: 0;
    overflow: hidden;
    min-width: 240px;
    height: 100%;
}
.page {
    left: 0;
    background-color: $light-grey;
    @include transform(translateX(100%));
    @include transition(transform .4s);
    &.active {
        @include transform(translateX(0));
    }
}

// HEADER
.page-header {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    height: 50px;
    padding: 6px 15px;
    background-color: $base-color;
    color: #FFF;
}
.page-heading {
    font-size: 1.2rem;
    line-height: 1.9rem;
    > .bigger {
        font-size: 1.6rem;
        display: block;
        text-transform: uppercase;
    }
}
.back-to-home {
    float: left;
    height: 45px;
    padding: 0 16px;
    margin-left: -10px;
}
.arrow-back {
    display: inline-block;
    padding: 6px;
    border-top: 3px solid #FFF;
    border-left: 3px solid #FFF;
    margin-top: 14px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


// CONTENT
.page-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 59px 8px 8px;
    margin: auto;
}


.home-page .page-content {
    overflow: auto;
    padding-bottom: 0;
}

.box {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    box-shadow: 0 1px 1px #BBB;
}

.route {
    margin-bottom: 4px;
    font-size: 1.4rem;
    .label {
        display: inline-block;
        width: 15%;
        padding-right: 15px;
        text-transform: uppercase;
        text-align: right;
    }
}
.route-arrival {
    font-size: 2.2rem;
    text-transform: uppercase;
}


.content-box {
    max-width: 250px;
    margin: auto;
}

.next-boat,
.later-boat {
    text-align: right;
}
.later-boat {
    color: $grey;
}

.countdown {
    @include flexbox();
    @include justify-content(space-between);
    margin: 20px 0 5px;
    font-size: 4.6rem;
    text-align: center;
}
.countdown-item {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 3px;
    background-color: $base-color;
    color: #FFF;
    line-height: 66px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 2px;
        background-color: $base-color-light;
    }
}
.countdown-value {
    position: relative;
    display: block;
    height: 100%;
}
.countdown-separator {
    color: $base-color;
}






/* SCHEDULE ========================================= */


.schedule-page {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid $base-color-light;
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-align: center;
    .active {
        border-bottom-color: $base-color;
        font-weight: 500;
    }
}
.nav-tab {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    padding: 6px 0;
    border-right: 1px solid $base-color-light;
    border-bottom: 5px solid transparent;
    &:last-child {
        border-right: none;
    }
}

.schedule-box {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
}
.schedule-wrapper {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    margin: 55px -12px 0 -12px;
    color: $grey;
    font-size: 1.7rem;
    text-align: center;
}

.schedule {
    position: absolute;
    top: -99999px;
    left: 0;
    @include flexbox();
    @include flex-wrap(wrap);
    opacity: 0;
    @include transition(opacity .2s .2s);
    &.active {
        top: 0;
        opacity: 1;
        @include transition(opacity .2s 0);
    }
}
.schedule__item {
    width: 25%;
    padding: 6px 0;
}
.schedule__value {
    display: inline-block;
    width: 55px;
    padding: 6px 0;
}
.schedule__comming {
    > .schedule__value {
        box-sizing: border-box;
        border: 1px solid $base-color;
        background-color: #f3fbff;
        color: $base-color;
    }
}
.schedule__next {
    > .schedule__value {
        border-width: 2px;
        font-weight: 500;
    }
}

